$primary-color: #0095d9;
$optional-color: #2f3192;
$secundary-color: #616e7d;
$first-color: #1089ff;
$orange-color: #ff6223;
$second-color: #fff200;
$third-color: #6bc729;
$grey-color: #f5f5f5;
$bg-footer: #313131;
$bg-footer2: #39403e;
$top-menu-height: 40px;
$navbar-height: 40px;

