
@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/mixins";

/* Base */
@import "site-base";
@import "variables";
/* Navbar */
@import "site-navbar";
/* Blocks */
@import "site-blocks";

@import "responsive";

#logo{
  width: 160px;
  display: block;
  padding: 5px;
}
.logo{
  display: block;
  width: 150px;
  padding: 0 0 0 15px;
  &.animated{
    animation-duration: .3s;
  }
}
.padding-none{
  padding: 0px !important;
}
