
@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/mixins";

/* Base */
@import "site-base";
@import "variables";
/* Navbar */
@import "site-navbar";
/* Blocks */
@import "site-blocks";

@import "responsive";

/* ScrollToTop */
a.back-to-top{
  display: none;
  position: fixed;
  bottom: 18px;
  right: 15px;
  text-decoration: none;
  i , svg{
    display: block;
    font-size: 22px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    background: $primary-color;
    border-radius: 30px;
    text-align: center;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
  }
  &:hover , &:focus {
    text-decoration: none;
  }
}

#logo{
  width: 160px;
  display: block;
  padding: 5px;
}
.logo{
  display: block;
  width: 150px;
  padding: 0 0 0 15px;
  &.animated{
    animation-duration: .3s;
  }
}
.padding-none{
  padding: 0px !important;
}
